@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

pre,
code {
    font-family: Inconsolata;
}

pre {
    padding: .5rem;
    line-height: 1.25;
    overflow-x: scroll;
}

a,
a:visited {
    color: #1c5f8c;
}

a:hover,
a:focus,
a:active {
    color: #1c5f8c;
}

.modest-no-decoration {
    text-decoration: none;
}

html {
    font-size: 12px;
}

body {
    line-height: 1.85;
}

p,
.modest-p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
}

h1,
.modest-h1,
h2,
.modest-h2,
h3,
.modest-h3,
h4,
.modest-h4 {
    margin: 1.414rem 0 .5rem;
    font-weight: inherit;
    line-height: 1.42;
}

h1,
.modest-h1 {
    margin-top: 0;
    font-size: 3rem;
}

h2,
.modest-h2 {
    font-size: 2rem;
}

h3,
.modest-h3 {
    font-size: 1.5rem;
}

h4,
.modest-h4 {
    font-size: 1.4rem;
}

h5,
.modest-h5 {
    font-size: 1.3rem;
}

h6,
.modest-h6 {
    font-size: 1rem;
}

small,
.modest-small {
    font-size: .8em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
    max-width: 100%;
}

html {
    font-size: 18px;
    max-width: 100%;
}

body {
    color: #444;
    font-family: Raleway;
    font-weight: 300;
    margin: 0 auto;
    max-width: 52rem;
    line-height: 1.45;
    padding: .25rem;
}

h1,
h2,
h3 {
    border-bottom: 2px solid #eee;
    margin-bottom: 1.15rem;
    padding-bottom: .5rem;
}

blockquote {
    border-left: 8px solid #eee;
    padding: 1rem;
}

pre,
code {
    background-color: #fde5bf;
}

header{
    text-align: center;
}

header a {
    text-decoration: none;
}

path{
    fill: currentColor
}

a svg{
    height: 20px;
}

table{
    margin-bottom: 15px;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 0.8rem;
}

th{
    text-align: left;
    padding: 2px 5px;
    background-color: rgb(177, 177, 177);
}

td{
    width: 25%;
    text-align: left;
    padding: 2px 5px 2px 0;
}

td:last-child{
    width: 35%;
}
td:first-child{
    width: 35%;
}

tr:nth-child(even){ 
    background-color: #f2f2f2 
  }
code{ 
    word-break: break-word;
}
@media only screen and (max-width: 600px) {
    p,
.modest-p {
    font-size: 1.3rem;
}
  }